USE [DLCDB]
GO
/****** Object:  Table [dbo].[DOCUMENTO]    Script Date: 20/5/2021 17:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENTO](
	[titulo] [varchar](255) NOT NULL,
	[url] [varchar](255) NULL,
	[cantidadPalabras] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[titulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSTEO]    Script Date: 20/5/2021 17:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSTEO](
	[idVocabulario] [varchar](255) NOT NULL,
	[idDocumento] [varchar](255) NOT NULL,
	[cantidadRepeticiones] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idVocabulario] ASC,
	[idDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOCABULARIO]    Script Date: 20/5/2021 17:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOCABULARIO](
	[palabra] [varchar](255) NOT NULL,
	[cantidadDocumentos] [int] NULL,
	[maximaFrecuencia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[palabra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[POSTEO]  WITH CHECK ADD FOREIGN KEY([idDocumento])
REFERENCES [dbo].[DOCUMENTO] ([titulo])
GO
ALTER TABLE [dbo].[POSTEO]  WITH CHECK ADD FOREIGN KEY([idVocabulario])
REFERENCES [dbo].[VOCABULARIO] ([palabra])
GO
